body {
  background-color: #000;
  color: #FFF;
  text-align: center;
}

h1 {
  color: #9900FF;
  font-family: Papyrus;
  font-size: 80px;
  margin-bottom: 5px;

}

main {
  color: #33FFFF;
  font-size: 60px;
}

main > p {
  color: #CC33CC;
  font-size: 30px;
  margin: 0 0 150px 0;
}

form {
  margin-top: 20px;
}

footer {
  margin-top: 450px;
}